<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>


<form action="/login" method="post">
  <h1>Login Form</h1>
  <div class="formcontainer">
    <hr/>
    <div class="container">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <label for="username"><strong>Username</strong></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" required autofocus>
      <label for="password"><strong>Password</strong></label>
      <input type="password" placeholder="Enter Password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
  </div>
  <div th:if="${param.error}">Incorrect Username or Password</div>
</form>


</body>
</html>